{{template "base" .}}

{{define "content"}}

<div class="container">
  <div class="row">
    <h2 class="mt-4">Search Availability</h2>
    <div class="col-md-6">
      <form action="/search-availability" method="post" novalidate class="needs validation">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <div class="form-group">
          <label for="start_date">Arrival</label>
          <input type="date" class="form-control" id="start_date" name="start" aria-describedby="startDateHelp" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="end_date">Departure</label>
          <input type="date" class="form-control" id="end_date" name="end" aria-describedby="endDateHelp" />
        </div>
      </div>
    </div>
    <hr />
    <button type="submit" class="btn btn-success">Search</button>
  </form>
</div>

{{end}}